body{
  margin:0;
  background: radial-gradient(circle, #1a0000, #000);
  color:white;
  font-family:Arial;
  text-align:center;
}

.title{
  color:#ff6a00;
  text-shadow:0 0 10px orange,0 0 30px red;
  margin:20px 0;
}

.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px;
  padding:10px;
}

input{
  width:80%;
  padding:12px;
  border-radius:10px;
  border:none;
  background:#111;
  color:white;
  box-shadow:0 0 10px cyan;
}

/* фишки */
.tokens{
  display:flex;
  gap:15px;
}

.token{
  width:50px;
  height:50px;
  border-radius:50%;
  box-shadow:0 0 10px white;
  cursor:pointer;
  transition:0.3s;
}

.token.active{
  transform:scale(1.2);
  box-shadow:0 0 25px yellow;
}

.yellow{background:yellow;}
.red{background:red;}
.blue{background:cyan;}
.purple{background:purple;}

/* кнопки */
button{
  width:80%;
  padding:15px;
  border:none;
  border-radius:12px;
  font-size:18px;
  background:linear-gradient(45deg,#ff6a00,#ff0000);
  color:white;
  box-shadow:0 0 15px orange;
}

.start{
  background:linear-gradient(45deg,#00eaff,#0066ff);
  box-shadow:0 0 20px cyan;
}

/* игроки */
.playersBox{
  width:80%;
  background:#111;
  border-radius:10px;
  padding:10px;
  box-shadow:0 0 15px cyan;
}

/* правила */
.rules{
  width:80%;
  background:#111;
  border-radius:10px;
  padding:10px;
  box-shadow:0 0 15px red;
  font-size:14px;
}

/* скрытие */
.hidden{
  display:none;
}
